/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
  height: 100%;
  width: 100%;

}
.menuHome, .menuDesign, .menuServices, .menuAbout, .menuContact {
	width: 25%;
	color: black !important;
	cursor: pointer;
}
.menuItem {
	margin-top: 10%;
	margin-bottom: 10%;
}
.menuHome:hover a, .menuHome:hover, .menuDesign:hover a, .menuDesign:hover, .menuServices:hover a, .menuServices:hover, .menuAbout:hover a, .menuAbout:hover, .menuContact:hover a, .menuContact:hover {
	background:grey;
	color: white !important;
	transition: background 0.3s linear;
	transition: color 0.3s linear;
}
.logoTopLeft {
	width:100%;
}
.menuItem a {
	color: black !important;
}
.menuitem a:hover {
	color:white !important;
}
#splashHome {
	width: 100%;
}
#usHome {
	width: 100%;
	height:100%;
	
}
.spacer {
}
.textDent, .textTaylor {
	padding-top: 10%;
	padding-bottom: 10%;
}
.servicesParagraph {
	padding-top: 50px;
}
.servicesParagraphText {
	padding-top: 30px;
	padding-bottom: 30px;
	font-size:1.2em;
}
.contactButton{
	border: 2.5px solid black;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 40px;
	margin-bottom: 30px;
	color: black;
	text-decoration: none;
}
.contactButton:hover {
	background-color: grey;
	transition: background 0.3s linear;
	transition: color 0.3s linear;
	color: white;
	text-decoration: none;
}
a {
	text-decoration: none !important;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none !important; 
}
.splashIntroInfo:hover {
	
	transition: filter 1s;
	filter: blur(4px);
	-webkit-filter: blur(4px);
}
.introInfoRow {
	
	position:relative;
}
.introMainText {
	font-size: 1.5em;
}
.designPreview {
	max-width: 100%;
}
.splashIntroInfo {
	background-image: url("img/splashmain.jpg");
	background-color: black;
	filter: none;
	width: 100%;
	height: 650px;
	padding-top:10px;
	transition: filter 1s;	

}
.splashServices {
	background-image: url("img/splashcode.jpg");
	background-color: black;
	filter: none;
	width: 100%;
	height: 650px;
	padding-top:10px;
	transition: filter 1s;	
	
}
.problemRow {
	max-width:100%;
}
.splashServices:hover {

	transition: filter 1s;
	filter: blur(4px);
	-webkit-filter: blur(4px);
}
.container-fluid {
	display: flex;
	flex-direction:column;
}
.paragraphIdeals {
	margin-top: 10%;
	margin-bottom:10%;
}
.textalign {
position: absolute;
top: 3vh;
left: 0.5vh;
bottom:2.5vh;
}
.textalignservices {
	position: absolute;
top: 2vh;
left: 1vh;
}
.paragraphHome {
	font-size: 1.2em;
}
.splashMainTextContainer {
	position: absolute;
	top: 33%;
	bottom: 33%;
	left: 25%;
	right: 25%;
	background-color: rgba(0,0,0,0.6);
	border: 4px solid white;
	width: 50%;
	height: 15vh;
	color: white !important;
	margin-top: auto;
	margin-bottom: auto;
	text-decoration:none !important;
	font-size: 1.3em;
}
.splashMainTextContainer a {
	color:white !important;
}
.pictureBens {
	padding: 0 0 0 0 !important;
	min-width: 300px;
	height: auto;
}
.textIdeals {
	font-size: 18;
}
.textServices {
	background: rgba(81,191,218,0.2);
	padding: 0 0 0 0;
	border-top: 0.5px solid black;
	padding-bottom: 7%;
	padding-top: 7%;
}
.footerContainer {
	background:black;
	bottom:0;
	height: 40px;
	width: 110%;
	right:0;
	position:fixed;
}
.footerContent {
	color: grey;
}
.bgimg {
  /* Background image */
  background-image: url('/w3images/forestbridge.jpg');
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a white text color to all elements inside the .bgimg container */
  color: white;
  /* Add a font */
  font-family: "Courier New", Courier, monospace;
  /* Set the font-size to 25 pixels */
  font-size: 25px;
}
.vertical-spacer-contact {
	height: 250px;
}
.designRow {
	padding-top: 1%;
	padding-bottom: 1%;
}
.container-about {
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.designRow {
	background-color: rgba(255,102,0,0.2);
}
.designTitleRow {
	padding-top: 2%;
	padding-bottom: 2%;
}
/* Position text in the top-left corner */
.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

/* Position text in the bottom-left corner */
.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

/* Position text in the middle */
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the <hr> element */
hr {
  margin: auto;
  width: 40%;
}
.textTaylor, .textDent {
	margin-top: 10%;
	margin-bottom: 10%;
	font-size: 1.3em;
}
.taylorPicture {
	position: absolute;
	right: 0;
	bottom:10px;
}
.aboutTaylor {
	padding-top: 10px;
	margin-left: 0px !important;
	margin-right:0px !important;
}
}
.dentPicture {
	position: absolute;
	left: 0;
}
.aboutIntroRow {
	padding-top:5%;
	padding-bottom: 5%;
}